<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Phil Taylor</title>
</head>
<body>
    <div id="app">
        <h1>Phil</h1>
        <img src="{{ url_for('static', filename='images/pip_image.jpg') }}" alt="Pip Image" id="pip-image">
        <p id="response"></p>
        <div class="input-container">
            <input type="text" id="userPrompt" placeholder="Message Pip...">
            <button onclick="askAgent()">Send</button>
        </div>
    </div>
    <footer>Made by Phil</footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <filter id="rough-border">
                <feTurbulence type="fractalNoise" baseFrequency="0.04" numOctaves="5" result="noise"/>
                <feDisplacementMap in="SourceGraphic" in2="noise" scale="3" xChannelSelector="R" yChannelSelector="G" result="displacement"/>
            </filter>
            <filter id="rough-highlight">
                <feTurbulence type="fractalNoise" baseFrequency="0.08" numOctaves="3" result="noise"/>
                <feDisplacementMap in="SourceGraphic" in2="noise" scale="2" xChannelSelector="R" yChannelSelector="G" result="displacement"/>
            </filter>
        </defs>
    </svg>
</body>
</html>
